<launch>

    <arg name="project" default="lio_sam_6axis"/>
    <arg name="bag_path" default="/mnt/nvme0n1p2/data/1011.bag"/>
    <arg name="sequence" default="qcsl"/>
    <!-- Parameters -->
    <rosparam file="$(find lio_sam_6axis)/config/hilti_pandar.yaml" command="load"/>

    <!--- LOAM -->
    <include file="$(find lio_sam_6axis)/launch/include/module_loam.launch"/>

    <!--- Robot State TF -->
    <include file="$(find lio_sam_6axis)/launch/include/module_robot_state_publisher.launch"/>

    <!--- Run Rviz-->
    <include file="$(find lio_sam_6axis)/launch/include/module_rviz.launch"/>

</launch>
